@model InstructorDTO

    <div class="instructor-bio card no-border-radius">
        <div class="card-body">
            <img src="@Model.InstructorAvatar" class="avatar rounded-circle">
            <h4>@Model.InstructorName</h4>
            <h5 class="text-primary">Instructor</h5>
            <p>@Model.InstructorDescription</p>
        </div>
    </div>
