@model IEnumerable<DownloadDTO>

<ul>
    @foreach (var download in Model)
    {
        <li>
            <a href="@download.DownloadUrl" target="_blank">
                <i class="material-icons">save_alt</i>
                <span>&nbsp;@download.DownloadTitle</span>
            </a>
        </li>
    }
</ul>