@model CourseViewModel

@{
    ViewData["Title"] = "Course";
}

<div class="row small-bottom-margin">
    <div class="col-sm-12">
        <a class="btn btn-primary no-border-radius no-left-padding" asp-action="Dashboard">
            <i class="material-icons vertical-align no-left-margin">keyboard_arrow_left</i><span class="vertical-align">Back to Dashboard</span>
        </a>
    </div>
</div>


