@model ButtonDTO
<div>
    <btn asp-page="Index" icon="list_alt">Back to List</btn>
    <btn class="text-light" asp-page="/Index" icon="dashboard">Dashboard</btn>
    @if(Model.Id > 0)
    {
        <btn asp-page="Edit" icon="edit" asp-route-id="@Model.Id" asp-route-courseId="@Model.CourseId" asp-route-moduleId="@Model.ModuleId">Edit</btn>
    }
</div>