@inject SignInManager<VODUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Dashboard</a>
        </li>
        <partial name="_AdminMenuPartial" />
    </ul>
}