@page
@model CreateModel
@inject SignInManager<VODUser> SignInManager
@{
    ViewData["Title"] = "Add Course";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>@ViewData["Title"]</h1>
            <partial name="_BackToIndexButtonsPartial" />
            <p></p>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Input.Title"></label>
                    <input asp-for="Input.Title" class="form-control" />
                    <span asp-validation-for="Input.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Description"></label>
                    <input asp-for="Input.Description" class="form-control" />
                    <span asp-validation-for="Input.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ImageUrl"></label>
                    <input asp-for="Input.ImageUrl" class="form-control" />
                    <span asp-validation-for="Input.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.MarqueeImageUrl"></label>
                    <input asp-for="Input.MarqueeImageUrl" class="form-control" />
                    <span asp-validation-for="Input.MarqueeImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Instructor" class="control-label"></label>
                    <select asp-for="Input.InstructorId" class="form-control" asp-items="ViewBag.Instructors"></select>
                </div>

                <button type="submit" class="btn btn-success">Create</button>
            </form>

        </div>
    </div>
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

