a.card {
    margin: .33rem;
    float: left;
    width: 24%;
    min-width: 200px;
    color: #fff;
    text-decoration: none;
    border-radius: 0px;
}

    a.card:hover {
        opacity: .8;
    }

a .card-content {
    padding: 15px;
}

a .card-data h3 {
    margin-top: 0;
    margin-bottom: 0;
}

a .card-data p {
    margin-bottom: 0;
}

a .card-icon {
    position: absolute;
    right: 25px;
    top: 22%;
    font-size: 50px;
    opacity: .2;
}
