.no-border-radius {
    border-radius: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-top-padding {
    padding-top: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.vertical-align {
    vertical-align: middle;
}

.small-bottom-margin {
    margin-bottom: 10px;
}

.small-top-margin {
    margin-top: 10px;
}

.small-left-margin {
    margin-left: 10px;
}

.no-margin {
    margin: 0;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: larger;
}

.no-text-decoration {
    text-decoration: none;
}

.overflow-hidden {
    overflow: hidden;
}

.card .marquee img {
    width: auto;
    height: 140px;
    position: absolute;
    bottom: 0;
    margin: 30px;
    border: 4px solid #FFF;
    border-radius: 2px;
}

.card .marquee {
    width: 100%;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    /* Relative positioning of the marquee
       is needed for the cover image’s
       absolute position */
    position: relative;
}

.module-video:hover {
    background-color: #5ab3ff;
}

.module-video a:hover {
    text-decoration: none;
}

.module-video h5 {
    margin-top: -5px;
}

.module-video .media-body{
    margin-left: 5px;
}

.card-body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

